/*
** LAND & EXTRAS
*/
.land {
  fill: $land;
}

/*
** COUNTRIES
*/
.country {
  stroke-weight:0px;
}
.country-label {
  text-transform:uppercase;
  font-size:.6em;
  font-weight:300;
  fill: $land;
  letter-spacing:2.5px;

  .hide {
    display:none;
    visibility:hidden;
  }

  .small {
    font-size:.45em;
    letter-spacing:1.5px;
  }
  
  .dark {
    fill: $label-dark;
  }
}

/*
** RIVERS
*/
.river {
  fill:none;
  stroke: $river;
  stroke-weight:.5px;
  stroke-dasharray:.5px;
  /*stroke-opacity:.7;*/
}
.river-label {
  fill: $label-white;
  opacity:.7;
  font-family:serif;
  font-size:.7em;
}

/*
** PLACES
*/
.place {
  fill: $label-dark;
}
.place-label {
  font-weight:100;
  font-size:.6em;
}
.place-capital {
  fill: $label-dark;
  font-weight:900;
}